.nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  height: 70px;
}

.navTitle {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.logo {
  position: absolute;
  left: 1rem;
}

.posts {
  position: absolute;
  right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.posts:hover {
  color: #3548c6;
}