.nav {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  height: 70px;
}

.navTitle {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.navTitle a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.navTitle a:hover {
  color: #3548c6;
}

.logo {
  position: absolute;
  left: 1rem;
  transition: all .3 ease;
  display:none;
}

.logo:hover {
  opacity: .7;
}

.posts {
  position: absolute;
  right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.posts:hover {
  color: #3548c6;
}

.dTitle {
  display: none;
}

.dPosts {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    justify-content: center;
  }
  
  .navTitle {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }

  .dTitle {
    display: block;
  }

  .mTitle {
    display: none;
  }

  .logo {
    display: block;
  }

  .dPosts {
    display: block;
  }

  .mPosts {
    display: none;
  } 
}